// styles/_variables.scss
$uphold-blue: #0062FF;
$uphold-gradient: linear-gradient(135deg, #0062FF 0%, #00C4FF 100%);
$uphold-dark: #1A1D26;
$uphold-light: #F5F7FA;
$uphold-green: #49cc68;
$uphold-white: #FFFFFF;